anthropic
langchain
langchain-anthropic
langchain-community
langchain-text-splitters
langgraph
chromadb
beautifulsoup4
huggingface_hub
openai
groq
python-dotenv
pydantic
pydantic-settings
requests
aiohttp
